In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#three a
x=[]
n=int(input("enter list of items:"))
for i in range(1,n+1):
  a=int(input("enter the value of %d item:"%i))
  x.append(a)
  y=[num for num in x if num >=0]
  print("initial list of integers is:",x)
  print("modified list of positive numbers is:",y)

enter list of items:3
enter the value of 1 item:3
initial list of integers is: [3]
modified list of positive numbers is: [3]
enter the value of 2 item:-6
initial list of integers is: [3, -6]
modified list of positive numbers is: [3]
enter the value of 3 item:-2
initial list of integers is: [3, -6, -2]
modified list of positive numbers is: [3]

In [ ]:
#3c
w=input("enter any value:")
v=[l for l in w if l in 'aeiou']
print("list of vowels in",w,":",v)

enter any value:aeroplane
list of vowels in aeroplane : ['a', 'e', 'o', 'a', 'e']

In [ ]:
#3d
w=input("enter any word:")
for l in range(len(w)):
  print("ASCII value is",w[l],"is",ord(w[l]))

enter any word:open
ASCII value is o is 111
ASCII value is p is 112
ASCII value is e is 101
ASCII value is n is 110

In [ ]:
(#1
n=input( "enter your house name:"    )
s=input("enter your house number:")
a=input("enter your street:")
b=input("enter your nation:")
c=input("enter your state:")
d=input("enter your postnumber:")
e=input("enter your thaaluk:")
f=input("enter your pincode:")
print(n,s,a,b,c,d,e,f)

enter your house name:thadikkapparampil
enter your house number:419
enter your street:teekoy
enter your nation:india
enter your state:kerala
enter your postnumber:1245
enter your thaaluk:meenachil
enter your pincode:665069
thadikkapparampil 419 teekoy india kerala 1245 meenachil 665069

In [ ]:
#1three
color_list=["red","green","white","black"]
print("%s %s"%(color_list[0],color_list[-1]))

red black

In [ ]:
#16
def chars_mix_up(a,b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]
  return new_a + '' + new_b
print(chars_mix_up('abc',  'xyz'))

xycabz

In [ ]:
#15
color_list_1 = set (["white","black","red"])
color_list_2 = set (["red","green"])
print(color_list_1.difference(color_list_2))

{'white', 'black'}

In [ ]:
#
x=[]
n=int(input("enter any integer:"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
      x.append(a)
print("modified list",x)

enter any integer:4
20
40
200
100
modified list [20, 40, 'over', 100]

In [ ]:
#2
def find_leap_years(given_year):
    jsn=0
    list_of_leap_years=[]
        
    while(jsn<15):
        if(given_year%4==0 and given_year%100!=0) or given_year%400==0:
            list_of_leap_years.append(given_year)
            jsn=jsn+1
        given_year=given_year+1
    return list_of_leap_years

list_of_leap_years=find_leap_years(2021)
print(list_of_leap_years)

[2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080]

In [ ]:
#3b
def squares(start, end):
    squares = [value ** 2 for value in range(start,end+1)]
    return squares
print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#17
d1={4:"e",2:"a",1:"c",7:"b",5:"d"}
sorted(d1)
print (sorted(d1))
sorted(d1,reverse=True)
print(sorted(d1,reverse=True))

[1, 2, 4, 5, 7]
[7, 5, 4, 2, 1]

In [ ]:
#1eight
"v={'a':1,'b':2}
s={'c':4,'d':5}
v.update(s)
print(v)

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [ ]:
#20
a=[10,11,12,14,15,16,17]
even_list=[]
for i in a:
  if i%2==0:
    even_list.append(i)
print(even_list)

[10, 12, 14, 16]

In [ ]:
#4
user_str=input("enter the string")
l= user_str.split()
d={}
for i in l:
  d[i]=d.get(i,0)+1
print(d)

enter the stringhallo world hallo
{'hallo': 2, 'world': 1}

In [ ]:
#5
string=input("enter any string")
c=input("enter the character to check frequency")
count=0
for i in string:
  if i==c:
    count+=1
    print(c,"occurs",count,"time(s).")

enter any stringa man
enter the character to check frequencya
a occurs 1 time(s).
a occurs 2 time(s).

In [ ]:
#7
a=[1,2,7,66,5]
b=[77,1,99,44,0,4]
z=[]
for i in a:
  if i in b:
    z.append(i)
    print("the common element are",z)
total=sum(a)
print("the sum of all element in the list",total)
total=sum(b)
print("the sum of all element in the list",total)
  
print(len(a))
print(len(b))
if len(a)==len(b):
  print("same length")
else: 
   print("two list have different list  length")

the common element are [1]
the sum of all element in the list 81
the sum of all element in the list 225
5
6
two list have different list  length

In [ ]:
#eight
txt = input(str("enter the string"))

x = txt.replace("a", "&")

print(x)

enter the stringbanana
b&n&n&

In [1]:
#9
a=input()
print("before exchange:",a)
str1=a[-1:]+a[1:-1]+a[0]
print("after exchange:",str1)

python
before exchange: python
after exchange: nythop

In [ ]:

#10
import math

r = float(input('Enter the radius of the circle :'))
area = math.pi * r * r

print("Area of the circle is : %.2f" %area)

Enter the radius of the circle :5
Area of the circle is : 78.54

In [ ]:
#11
num1 = int(input())
num2 = int(input())
num3 = int(input())
if (num1 >= num2) and (num1 >= num3):
 largest = num1
elif (num2 >= num1) and (num2 >= num3):
 greatest = num2
else:
 greatest = num3
print("The greatest number is",greatest )

2
4
9
The greatest number is 9

In [ ]:
#12
filename=input("input filename")
f_extns=filename.split(".")
print("extension of the file is:"+repr(f_extns[-1]))

input filenameabcd.ghy
extension of the file is:'ghy'

In [ ]:
#14
n=int(input("enter a number n:"))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
comp=n+int(t1)+int(t2)
print("the value is :",comp)

enter a number n:5
the value is : 615

In [ ]:
#19
a=int(input("enter a:"))
b=int(input("enter b:"))
c=min(a,b)
gcd=1
for i in range(1,c+1):
  if a%i==0 and b%i==0:
    gcd=i
    print( "gcd i is :",gcd)

enter a:20
enter b:50
gcd i is : 1
gcd i is : 2
gcd i is : 5
gcd i is : 10