In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
d1={4:"e",2:"a",1:"c",7:"b",5:"d"}
sorted(d1)
print (sorted(d1))
sorted(d1,reverse=True)
print(sorted(d1,reverse=True))

[1, 2, 4, 5, 7]
[7, 5, 4, 2, 1]

In [ ]:
"v={'a':1,'b':2}
s={'c':4,'d':5}
v.update(s)
print(v)

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [ ]:
a=[10,11,12,14,15,16,17]
even_list=[]
for i in a:
  if i%2==0:
    even_list.append(i)
print(even_list)

[10, 12, 14, 16]

In [ ]:
user_str=input("enter the string")
l= user_str.split()
d={}
for i in l:
  d[i]=d.get(i,0)+1
print(d)

enter the stringhallo world hallo
{'hallo': 2, 'world': 1}

In [ ]:
string=input("enter any string")
c=input("enter the character to check frequency")
count=0
for i in string:
  if i==c:
    count+=1
    print(c,"occurs",count,"time(s).")

enter any stringaa aa tgtaaa
enter the character to check frequencya
a occurs 1 time(s).
a occurs 2 time(s).
a occurs 3 time(s).
a occurs 4 time(s).
a occurs 5 time(s).
a occurs 6 time(s).
a occurs 7 time(s).

In [ ]:
a=[1,2,7,66,5]
b=[77,1,99,44,0,4]
z=[]
for i in a:
  if i in b:
    z.append(i)
    print("the common element are",z)
total=sum(a)
print("the sum of all element in the list",total)
total=sum(b)
print("the sum of all element in the list",total)
  
print(len(a))
print(len(b))
if len(a)==len(b):
  print("same length")
else: 
   print("two list have different list  length")

the common element are [1]
the sum of all element in the list 81
the sum of all element in the list 225
5
6
two list have different list  length

In [ ]:
txt = input(str("enter the string"))

x = txt.replace("a", "&")

print(x)

enter the stringbanana
b&n&n&

In [ ]:
a=input()
print("before exchange:",a)
str1=a[-1:]+a[1:-1]+a[0]
print("after exchange:",str1)

aghdghaghaghdgahg
before exchange: aghdghaghaghdgahg
after exchange: gghdghaghaghdgaha

In [ ]:


import math

r = float(input('Enter the radius of the circle :'))
area = math.pi * r * r

print("Area of the circle is : %.2f" %area)

Enter the radius of the circle :5
Area of the circle is : 78.54

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
if (num1 >= num2) and (num1 >= num3):
 largest = num1
elif (num2 >= num1) and (num2 >= num3):
 greatest = num2
else:
 greatest = num3
print("The greatest number is",greatest )

2
4
9
The greatest number is 9

In [ ]:
filename=input("input filename")
f_extns=filename.split(".")
print("extension of the file is:"+repr(f_extns[-1]))

input filenameabcd.ghy
extension of the file is:'ghy'

In [ ]:
n=int(input("enter a number n:"))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
comp=n+int(t1)+int(t2)
print("the value is :",comp)

enter a number n:5
the value is : 615

In [ ]:
details=('India':'New Delhi','America':'Washington Dc','Japan':'Tokyo')
print('Country-Capital List...')
print(details)
import operator

sort1=dict(sorted(details.items(),key=operator.itemgetter(1)))
print('Country-capital in ascending order of capital...')
print(sort1)

sort1=dict(sorted(details.items(),key=operator.itemgetter(1),reverse=True))
print('Country-capital in descending order of capital...')
print(sort2)

SyntaxError: ignored

In [ ]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=min(a,b)
gcd=1
for i in range(1,c+1):
  if a%i==0 and b%i==0:
    gcd=i
    print( "gcd i is :",gcd)

enter a:20
enter b:50
gcd i is : 1
gcd i is : 2
gcd i is : 5
gcd i is : 10